{% extends 'base.html.twig' %}

{% block content %}
    <h1>Editer un coach</h1>

    {{ form_start(edit_form) }}
    <div class="container">
        <div class="row">
            <div class="col">
                {{ form_label(edit_form.price, 'Prix') }}
                {{ form_errors(edit_form.price) }}
                {{ form_widget(edit_form.price, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form_label(edit_form.description, 'Description') }}
                {{ form_errors(edit_form.description) }}
                {{ form_widget(edit_form.description, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col">
                {{ form_label(edit_form.sport, 'Sport') }}
                {{ form_errors(edit_form.sport) }}
                {{ form_widget(edit_form.sport, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(edit_form.user, 'Utilisateur') }}
            {{ form_errors(edit_form.user) }}
            {{ form_widget(edit_form.user, {'attr': {'class': 'form-control','rows':'3'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(edit_form.avatarFile, 'Avatar') }}
            {{ form_errors(edit_form.avatarFile) }}
            {{ form_widget(edit_form.avatarFile, {'attr': {'class': 'form-control'}}) }}
        </div>


    </div>
    <div class="container">
        <div class="row">
            {{ form_widget(edit_form) }}
            <input type="submit" value="Edit" class="btn btn-primary ml-3"/>
            <button><a href="{{ path('admin_coach_index') }}">Back to the list</a></button>
        </div>
    </div>

    {{ form_end(edit_form) }}


{% endblock %}
