{% extends 'adminBase.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("assets/css/listeCoach.css") }}">
    <link rel="stylesheet" href="{{ asset("assets/css/home.css") }}">
{% endblock %}

{% block content %}


    <section class="search-sec">
        <div class="container">
            <form action="{{ path('admin_coach_index') }}" method="GET">
                <select name="sport" id="sport">
                    <option value="">Choisis ton sport</option>
                    {% for sport in sports %}
                        <option value="{{ sport.id }}"
                                {% if app.request.get('sport') == sport.id %}
                        selected
                                {% endif %}>
                            {{ sport.name }}</option>
                    {% endfor %}
                </select>
                <select name="price" id="price">
                    <option value="">Trier par prix</option>
                    {% for price in prices %}
                        <option value="{{ price }}"
                                {% if app.request.get('price') == price %}
                        selected
                                {% endif %}>
                            {{ price }}</option>
                    {% endfor %}
                </select>
                <button name="submit" value="1" class="btn btn-info">Filter</button>
                <a href="{{ path('admin_coach_index') }}" class="btn btn-info">Reset</a>
            </form>
        </div>
    </section>

    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb40 text-center mt-4">
            <h1>Liste Coach</h1>

            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="content">
        <div class="container">
            <div class="row">
                {% for coach in coaches %}
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <!-- team-img -->
                        <div class="team-block">
                            <div class="team-img">
                                {% if coach.avatarName %}
                                    <img src="{{ asset('assets/avatar/coach/'~coach.avatarName) }}" alt=""
                                         class="img-fluid">
                                {% else %}
                                    <img src="{{ asset('assets/img/godefroy.jpg') }}" alt="" style="" class="img-fluid">
                                {% endif %}
                                <div class="team-content">
                                    <h4 class="text-white mb0">{{ coach.sport.name }}</h4>
                                    <p class="team-meta">- {{ coach.price }} €/h</p>
                                </div>
                                <div class="overlay">
                                    <div class="text">
                                        <h4 class="mb0 text-white">{{ coach.sport.name }}</h4>
                                        <p class="mb30 team-meta">- {{ coach.price }} €/h</p>
                                        <p>{{ coach.description }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="{{ path('admin_coach_show', { 'id': coach.id }) }}"
                           class="btn btn-primary mb-2">Voir</a>
                        <a href="{{ path('admin_coach_edit', { 'id': coach.id }) }}"
                           class="btn btn-primary mb-2">Editer</a>
                        <a href="{{ path("admin_coach_delete", {'id': coach.id}) }}"><input type="submit" value="Delete" class="btn btn-danger mb-2"></a>
                    </div>
                {% else %}
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <p>Rien ne correspond a votre recherche.</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb40 text-center mt-4 border border-dark">
            <h3><a href="{{ path('admin_coach_new') }}">Creer un coach</a></h3>
        </div>
    </div>

{% endblock %}
