{% extends 'crudAdminBase.html.twig' %}

{% block content %}

    <div class="container mt-4">
        <div class="row">
            <div class="col-md-8">
                {% if coach.avatarName %}
                    <img src="{{ asset('assets/avatar/coach/'~coach.avatarName) }}" alt=""
                         style="height: 260px; width: 360px">
                {% else %}
                    <img src="{{ asset('assets/img/godefroy.jpg') }}" alt="" style="height: 260px; width: 460px; object-fit: cover">
                {% endif %}
            </div>
            <div class="col-md-4">

                {#<h1>{{ coach.user.username }}</h1>#}

            </div>
        </div>
    </div>
    <div class="container">
        <p>{{ coach.description }}</p>
    </div>

    <div class="row ml-4">
        <div class="col-md-8">
            <table class="table table-striped">
                <tbody>
                <tr>
                    <th>Prix</th>
                    <td>{{ coach.price }} €</td>
                </tr>
                <tr>
                    <th>Sport</th>
                    <td>{{ coach.sport.name }}</td>
                </tr>
                <tr>
                    <th>Createdat</th>
                    <td>{% if coach.createdAt %}{{ coach.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                </tr>
                <tr>
                    <th>Updatedat</th>
                    <td>{% if coach.updatedAt %}{{ coach.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <a href="{{ path('admin_coach_edit', { 'id': coach.id }) }}" class="btn btn-primary ml-5">Editer</a>
        <a href="{{ path("admin_coach_delete", {'id': coach.id}) }}"><input type="submit" value="Supprimer"
                                                                            class="btn btn-danger ml-2 mr-2"></a>
        <button><a href="{{ path('admin_coach_index') }}">Retourner à la liste</a></button>
    </div>

{% endblock %}
