{% extends "base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("assets/css/detailCoach.css") }}">{% endblock %}

{% block content %}


    <div class="container-fluid">
        <div class="row">
            <div class="jumbotron">
            <div class="col">
                {% if coach.avatarName %}
                    <img src="{{ asset('assets/avatar/coach/'~coach.avatarName) }}" alt=""
                         style="height: 360px; width: 560px">
                {% else %}
                    <img src="{{ asset('assets/img/login.jpg') }}" alt="" style="height: 360px; width: 560px">
                {% endif %}
            </div>
            </div>
            <div class="col text-center">
                <br>
                <table class="table table-bordered table-style table-responsive">
                    <tr>
                        <th colspan="2"><span class="glyphicon glyphicon-chevron-left"></span></th>
                        <th colspan="3"> Juin - 2019</th>
                        <th colspan="2"><span class="glyphicon glyphicon-chevron-right"></span></th>
                    </tr>
                    <tr>
                        <th>S</th>
                        <th>M</th>
                        <th>T</th>
                        <th>W</th>
                        <th>T</th>
                        <th>F</th>
                        <th>S</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                        <td>6</td>
                        <td>7</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>9</td>
                        <td>10</td>
                        <td>11</td>
                        <td class="today">12</td>
                        <td>13</td>
                        <td>14</td>
                    </tr>
                    <tr>
                        <td>15</td>
                        <td>16</td>
                        <td>17</td>
                        <td>18</td>
                        <td>19</td>
                        <td>20</td>
                        <td>21</td>
                    </tr>
                    <tr>
                        <td>22</td>
                        <td>23</td>
                        <td>24</td>
                        <td>25</td>
                        <td>26</td>
                        <td>27</td>
                        <td>28</td>
                    </tr>
                    <tr>
                        <td>29</td>
                        <td>30</td>
                        <td>31</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>

            </div>
        </div>
    </div>


    {{ coach.description }}

    {{ coach.sport.name }}
    {{ coach.price }} €


    <i class="fab fa-facebook-square"></i>
    <i class="fab fa-instagram"></i>

    <div class="card">
        <div class="card-header">
            Commentaire
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>C'était incroyable, j'ai beaucoup appris durant ces deux heures de cours. Je recommande.</p>
            </blockquote>
        </div>
    </div>


    {# <h1>{{ coach.user.username }}</h1>#}




    <div class="row ml-4">
        <button><a href="{{ path('client_coach_index') }}">Retourner à la liste</a></button>
    </div>

{% endblock %}