{% extends 'crudAdminBase.html.twig' %}

{% block content %}

    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb40 text-center mt-4">
            <h1>Creer un sport</h1>

        </div>
    </div>

    {{ form_start(form) }}
    <div class="container">
        <div class="row">
            <div class="col">
                {{ form_label(form.name, 'Nom') }}
                {{ form_errors(form.name) }}
                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>

    <div class="container mt-3">
        <div class="row">
            {{ form_widget(form) }}
            <input type="submit" value="Créer" class="btn btn-success ml-3"/>
            <button><a href="{{ path('admin_sport_index') }}">Retourner à la liste</a></button>
        </div>
    </div>

{% endblock %}
